In [1]:
import numpy as np
import pandas as pd

## Loading Data

In [3]:
df = pd.read_csv('../Old Data/ecommerce_data.csv', encoding='ISO-8859-1')

## Data Inspection

In [30]:
df.head()

,customer_id,customer_first_name,customer_last_name,category_name,product_name,customer_segment,customer_city,customer_state,customer_country,customer_region,...,order_date,order_id,ship_date,shipping_type,days_for_shipment_scheduled,days_for_shipment_real,order_item_discount,sales_per_order,order_quantity,profit_per_order
0,C_ID_45866,Mary,Fuller,Office Supplies,Xerox 1913,Corporate,New Rochelle,New York,United States,East,...,2022-05-11,O_ID_3001072,2022-07-11,Second Class,2,2,35.0,500.0,5,223.2
1,C_ID_44932,Alan,Edelman,Office Supplies,#6 3/4 Gummed Flap White Envelopes,Corporate,Houston,Texas,United States,Central,...,2022-06-20,O_ID_3009170,2022-06-23,Second Class,2,3,85.0,500.0,5,199.2
2,C_ID_70880,Mary,Gayman,Office Supplies,Belkin 8 Outlet Surge Protector,Consumer,Louisville,Kentucky,United States,South,...,2022-06-25,O_ID_3047567,2022-06-30,Standard Class,4,5,75.0,44.0,5,195.5
3,C_ID_33157,Raymond,Eason,Office Supplies,GBC VeloBinder Manual Binding System,Corporate,Chicago,Illinois,United States,Central,...,2022-06-10,O_ID_3060575,2022-10-10,Second Class,2,4,60.0,254.0,1,220.0
4,C_ID_58303,Mary,Gonzalez,Furniture,Eldon Pizzaz Desk Accessories,Home Office,Philadelphia,Pennsylvania,United States,East,...,2022-05-02,O_ID_3064311,2022-01-08,First Class,1,2,125.0,500.0,1,97.5

## Checks for Data Cleaning

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113270 entries, 0 to 113269
Data columns (total 21 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   customer_id                  113270 non-null  object
 1   customer_first_name          113270 non-null  object
 2   customer_last_name           113270 non-null  object
 3   category_name                113270 non-null  object
 4   product_name                 113270 non-null  object
 5   customer_segment             113270 non-null  object
 6   customer_city                113270 non-null  object
 7   customer_state               113270 non-null  object
 8   customer_country             113270 non-null  object
 9   customer_region              113270 non-null  object
 10  delivery_status              113270 non-null  object
 11  order_date                   113270 non-null  object
 12  order_id                     113270 non-null  object
 13  ship_date                    113270 non-null  object
 14  shipping_type                113270 non-null  object
 15  days_for_shipment_scheduled  113270 non-null  int64
 16  days_for_shipment_real       113270 non-null  int64
 17  order_item_discount          113270 non-null  float64
 18  sales_per_order              113270 non-null  float64
 19  order_quantity               113270 non-null  int64
 20  profit_per_order             113270 non-null  float64
dtypes: float64(3), int64(3), object(15)
memory usage: 18.1+ MB

In [6]:
df.shape

(113270, 21)

In [28]:
df['order_date']=pd.to_datetime(df['order_date'],format='%d-%m-%Y').dt.strftime('%Y-%m-%d')

In [29]:
df['ship_date']=pd.to_datetime(df['ship_date'],format='%d-%m-%Y').dt.strftime('%Y-%m-%d')

In [9]:
df.duplicated().sum() #No Duplicates

0

In [10]:
df['category_name'].value_counts()

category_name
Office Supplies    68111
Furniture          24443
Technology         20716
Name: count, dtype: int64

In [11]:
df['customer_segment'].value_counts()

customer_segment
Consumer       58714
Corporate      34322
Home Office    20234
Name: count, dtype: int64

In [12]:
df['customer_city'].value_counts()

customer_city
New York City      10346
Los Angeles         8471
Philadelphia        6097
San Francisco       5796
Seattle             4829
                   ...
Kissimmee             11
Missouri City         11
Rochester Hills       11
Commerce City         11
San Luis Obispo       10
Name: count, Length: 531, dtype: int64

In [13]:
len(df['customer_state'].value_counts())

49

In [14]:
df['customer_state'].value_counts()

customer_state
California              22679
New York                12775
Texas                   11191
Pennsylvania             6672
Washington               5708
Illinois                 5579
Ohio                     5294
Florida                  4354
Michigan                 2889
North Carolina           2812
Virginia                 2573
Arizona                  2553
Georgia                  2085
Tennessee                2053
Colorado                 2047
Indiana                  1675
Kentucky                 1583
Massachusetts            1539
New Jersey               1464
Oregon                   1417
Wisconsin                1232
Maryland                 1184
Delaware                 1092
Minnesota                1015
Connecticut               926
Missouri                  745
Oklahoma                  737
Alabama                   696
Arkansas                  679
Rhode Island              635
Utah                      613
Mississippi               598
Louisiana                 484
South Carolina            484
Nevada                    442
Nebraska                  427
New Mexico                415
Iowa                      336
New Hampshire             307
Kansas                    275
Idaho                     238
Montana                   172
South Dakota              136
Vermont                   123
District of Columbia      112
Maine                      94
North Dakota               77
West Virginia              43
Wyoming                    11
Name: count, dtype: int64

In [15]:
df['customer_country'].value_counts()

customer_country
United States    113270
Name: count, dtype: int64

In [16]:
df['customer_region'].value_counts()

customer_region
West       36295
East       32260
Central    26314
South      18401
Name: count, dtype: int64

In [17]:
df['delivery_status'].value_counts()

delivery_status
Late delivery        62051
Advance shipping     25930
Shipping on time     20393
Shipping canceled     4896
Name: count, dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113270 entries, 0 to 113269
Data columns (total 21 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   customer_id                  113270 non-null  object
 1   customer_first_name          113270 non-null  object
 2   customer_last_name           113270 non-null  object
 3   category_name                113270 non-null  object
 4   product_name                 113270 non-null  object
 5   customer_segment             113270 non-null  object
 6   customer_city                113270 non-null  object
 7   customer_state               113270 non-null  object
 8   customer_country             113270 non-null  object
 9   customer_region              113270 non-null  object
 10  delivery_status              113270 non-null  object
 11  order_date                   113270 non-null  datetime64[ns]
 12  order_id                     113270 non-null  object
 13  ship_date                    113270 non-null  datetime64[ns]
 14  shipping_type                113270 non-null  object
 15  days_for_shipment_scheduled  113270 non-null  int64
 16  days_for_shipment_real       113270 non-null  int64
 17  order_item_discount          113270 non-null  float64
 18  sales_per_order              113270 non-null  float64
 19  order_quantity               113270 non-null  int64
 20  profit_per_order             113270 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 18.1+ MB

In [31]:
df['order_date'].sort_values()

5341     2021-01-04
72003    2021-01-04
13245    2021-01-04
13246    2021-01-04
62653    2021-01-04
            ...
98851    2022-12-31
2807     2022-12-31
58692    2022-12-31
32523    2022-12-31
4644     2022-12-31
Name: order_date, Length: 113270, dtype: object

In [32]:
df['ship_date'].sort_values()

93131     2021-01-05
69465     2021-01-05
27558     2021-01-05
29334     2021-01-05
27572     2021-01-05
             ...
98851     2023-03-04
106072    2023-03-04
106066    2023-03-04
98839     2023-03-04
93459     2023-03-04
Name: ship_date, Length: 113270, dtype: object

In [33]:
df['shipping_type'].value_counts()

shipping_type
Standard Class    67627
Second Class      22053
First Class       17404
Same Day           6186
Name: count, dtype: int64

In [34]:
df['order_item_discount']=np.round(df['order_item_discount'],2)

In [35]:
df['sales_per_order']=np.round(df['sales_per_order'],2)
df['profit_per_order']=np.round(df['profit_per_order'],2)

In [24]:
df.head(6)

,customer_id,customer_first_name,customer_last_name,category_name,product_name,customer_segment,customer_city,customer_state,customer_country,customer_region,...,order_date,order_id,ship_date,shipping_type,days_for_shipment_scheduled,days_for_shipment_real,order_item_discount,sales_per_order,order_quantity,profit_per_order
0,C_ID_45866,Mary,Fuller,Office Supplies,Xerox 1913,Corporate,New Rochelle,New York,United States,East,...,2022-05-11,O_ID_3001072,2022-07-11,Second Class,2,2,35.0,500.0,5,223.20
1,C_ID_44932,Alan,Edelman,Office Supplies,#6 3/4 Gummed Flap White Envelopes,Corporate,Houston,Texas,United States,Central,...,2022-06-20,O_ID_3009170,2022-06-23,Second Class,2,3,85.0,500.0,5,199.20
2,C_ID_70880,Mary,Gayman,Office Supplies,Belkin 8 Outlet Surge Protector,Consumer,Louisville,Kentucky,United States,South,...,2022-06-25,O_ID_3047567,2022-06-30,Standard Class,4,5,75.0,44.0,5,195.50
3,C_ID_33157,Raymond,Eason,Office Supplies,GBC VeloBinder Manual Binding System,Corporate,Chicago,Illinois,United States,Central,...,2022-06-10,O_ID_3060575,2022-10-10,Second Class,2,4,60.0,254.0,1,220.00
4,C_ID_58303,Mary,Gonzalez,Furniture,Eldon Pizzaz Desk Accessories,Home Office,Philadelphia,Pennsylvania,United States,East,...,2022-05-02,O_ID_3064311,2022-01-08,First Class,1,2,125.0,500.0,1,97.50
5,C_ID_34556,Joe,Leatherbury,Office Supplies,Hoover Shoulder Vac Commercial Portable Vacuum,Home Office,Columbia,South Carolina,United States,South,...,2022-06-24,O_ID_3074984,2022-06-28,Standard Class,4,4,80.0,500.0,2,-349.86

In [25]:
df.isna().sum()  #No missing data

customer_id                    0
customer_first_name            0
customer_last_name             0
category_name                  0
product_name                   0
customer_segment               0
customer_city                  0
customer_state                 0
customer_country               0
customer_region                0
delivery_status                0
order_date                     0
order_id                       0
ship_date                      0
shipping_type                  0
days_for_shipment_scheduled    0
days_for_shipment_real         0
order_item_discount            0
sales_per_order                0
order_quantity                 0
profit_per_order               0
dtype: int64

In [26]:
df.describe()

,order_date,ship_date,days_for_shipment_scheduled,days_for_shipment_real,order_item_discount,sales_per_order,order_quantity,profit_per_order
count,113270,113270,113270.000000,113270.000000,113270.000000,113270.000000,113270.000000,113270.000000
mean,2021-12-11 19:54:08.613048576,2021-12-14 16:48:40.427297536,2.931209,3.464006,21.105465,204.499541,1.967564,23.069382
min,2021-01-04 00:00:00,2021-01-05 00:00:00,0.000000,0.000000,0.000000,9.990000,1.000000,-3366.000000
25%,2021-06-22 00:00:00,2021-06-25 00:00:00,2.000000,2.000000,5.500000,119.980000,1.000000,7.200000
50%,2021-12-06 00:00:00,2021-12-09 00:00:00,4.000000,3.000000,14.400000,199.920000,1.000000,32.030000
75%,2022-05-31 00:00:00,2022-06-02 00:00:00,4.000000,5.000000,30.000000,299.950000,3.000000,65.570000
max,2022-12-31 00:00:00,2023-03-04 00:00:00,4.000000,6.000000,500.000000,1999.990000,5.000000,2600.000000
std,NaN,NaN,1.375914,1.632198,22.959207,141.443082,1.355254,105.288562

In [38]:
df.to_csv('modified_sales_data.csv',index=False)